body {
    font-family: Poppins, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.title {
    margin-top: 40px;
    font-size: 40px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px;
}

.destination-card {
    width: 250px;
    background: #1a1a1a;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s ease;
}

.destination-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.destination-card:hover {
    transform: scale(1.08);
}

.filter-btn {
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background: #ff9966;
    color: white;
    cursor: pointer;
}
